<header>
    <h1 class="text-6xl text-center py-8">Paises</h1>
    <nav>
        <thead class="bg-red-500 text-white">
            <tr>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/nombrePaisOficial">Nombre Pais Oficial En Español</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/capital">Capital</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/fronteras">Fronteras</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/area">Area</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/poblacion">Poblacion</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/region">Region</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/subRegion">Sub Region</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/zonaHoraria">Zona Horaria</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/gini">Indice Gini Por Año</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/bandera">Bandera</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/mapa">Mapa</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="/creador">Creado por</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="">Modificar</a></th>
                <th class="px-6 py-4 text-left text-xl font-medium uppercase tracking-wider border"><a href="">Eliminar</a></th>
            </tr>
        </thead>
    </nav>
</header>