<nav class="bg-blue-900">
    <div class="max-w-7xl mx-auto px-4 ">
        <div class="flex items-center justify-center h-16">
            <ul class="flex items-baseline  space-x-6 text-gray-100 ">
                <li>
                    <a href="/api/home" class="hover:text-blue-200 transition-colors text-xl tracking-wide">Inicio</a>
                </li>
                <li>
                    <a href="/api/dashboard" class="hover:text-blue-200 transition-colors text-xl tracking-wide">Lista</a>
                </li>
                <li>
                    <a href="/api/pais/nuevo" class="hover:text-blue-200 transition-colors text-xl tracking-wide">Nuevo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>