<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo País</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-300">
    <h1 class="text-4xl text-center py-4">Nuevo País</h1>

    <form class="block w-150 mx-auto p-6 border border rounded-md shadow-md" action="/api/pais" method="POST" autocomplete="off">

        <label class="p-4" for="name.common">Nombre País Común:</label>
        <input class="border bg-white field-sizing-content min-w-40" type="text" name="name.common" minlength="3" maxlength="90" required><br><br>

        <label class="p-4" for="name.official">Nombre País Oficial:</label>
        <input class="border bg-white field-sizing-content min-w-40" type="text" name="name.official" minlength="3" maxlength="90" required><br><br>

        <label class="p-4" for="name.nativeName.spa.official">Nombre País Oficial (Español):</label>
        <input class="border bg-white field-sizing-content min-w-40" type="text" name="name.nativeName.spa.official" minlength="3" maxlength="90" required><br><br>

        <label class="p-4" for="capital">Capital(es):</label><br>
        <input class="border bg-white field-sizing-content min-w-40" type="text" name="capital"><br><br>

        <label class="p-4" for="borders">Fronteras (separadas por coma):</label>
        <input class="border bg-white field-sizing-content min-w-40" type="text" name="borders"><br><br>

        <label class="p-4" for="area">Área (km²):</label>
        <input class="border bg-white field-sizing-content min-w-40" type="number" name="area" min="0"><br><br>

        <label class="p-4" for="population">Población:</label>
        <input class="border bg-white field-sizing-content min-w-40" type="number" name="population" min="0"><br><br>

        <label class="p-4" for="region">Región:</label>
        <input class="border bg-white field-sizing-content min-w-40" type="text" name="region"><br><br>

        <label class="p-4" for="subregion">Sub Región:</label>
        <input class="border bg-white field-sizing-content min-w-40" type="text" name="subregion"><br><br>

        <label class="p-4" for="timezones">Zona Horaria:</label>
        <input class="border bg-white field-sizing-content min-w-40" type="text" name="timezones"><br><br>

        <label class="p-4" for="flags.png">Bandera (URL):</label>
        <input class="border bg-white field-sizing-content min-w-40" type="url" name="flags.png"><br><br>

        <label class="p-4" for="maps.googleMaps">Mapa (URL):</label>
        <input class="border bg-white field-sizing-content min-w-40" type="url" name="mapa"><br><br>

        <button class=" cursor-pointer text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Crear País</button>
    </form>
    <br>
</body>
</html>