<section class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-6xl font-bold mb-4">Bienvenido a mi sitio web</h1>
    <p class="text-3xl mb-8">Este es el trabajo final del sprint 5.</p>
    <img class="max-w-md" src="https://previews.123rf.com/images/aarrows/aarrows1502/aarrows150200146/37170781-banderas-del-mundo-y-el-mapa-en-el-fondo-blanco-ilustraci%C3%B3n-del-vector.jpg" alt="">
</section>